<div class="joke-card">
  <p-card [style]="{ width: '25rem', 'margin-bottom': '2em' }">
    <div>
      <div class="category"></div>
      <div *ngIf="serviceJoke.isJokeExist; else noJoke">
        <h5>
          Kategoria:
          {{ serviceJoke.mockedJokes[serviceJoke.jokeCounter].category }}
        </h5>
        {{ serviceJoke.mockedJokes[serviceJoke.jokeCounter].content }}
      </div>
      <ng-template #noJoke>
        <p-toast position="top-right"> </p-toast>
        <p>{{ "Lista żartów jest pusta" }}</p>
      </ng-template>
    </div>
  </p-card>
</div>
