.p-button-warning {
  color: black;
  background-color: #ffcc15;
  border: #ffcc15;
}

.joke-card {
  text-align: -webkit-center;
  margin-top: 2rem;
}

.p-button-danger {
  margin-top: 10px;
}

.detele-button {
  text-align: right;
}
