<div
  *ngFor="let joke of serviceJoke.createdJokes; index as i"
  class="joke-card"
>
  <p-card
    aria-disabled="true"
    header="Karta żartu"
    [style]="{ width: '25rem', 'margin-bottom': '2em' }"
  >
    <h5>Kategoria: {{ joke.category }}</h5>
    <p>{{ joke.content }}</p>

    <div class="detele-button">
      <button
        pButton
        type="button"
        label="Usuń"
        class="p-button-danger"
        (click)="showDeletingDialog(joke.id)"
      ></button>
      <p-dialog
        header="Potwierdzenie"
        [(visible)]="displayDialog"
        [modal]="true"
        [style]="{ width: '40vw', height: '20vw' }"
        [draggable]="false"
        [resizable]="false"
      >
        <div class="delating-box">
          <p>Czy napewno chcesz usunąć wybrany żart?</p>
        </div>
        <ng-template pTemplate="footer">
          <button
            pButton
            type="button"
            label="Nie"
            (click)="closeDeletingDialog()"
            class="p-button-warning-1"
          ></button>
          <button
            pButton
            type="button"
            label="Tak"
            (click)="deleteJoke(selectedJokeId)"
            class="p-button-warning"
          ></button>
        </ng-template>
      </p-dialog>
    </div>
  </p-card>
</div>
