.p-inputtextarea {
  height: 40vh;
  width: 100%;
}

.dialog-input {
  margin-top: 0.5rem;
}

.p-button-warning {
  color: black;
  background-color: #ffcc15;
  border: #ffcc15;
  margin-top: 10px;
}

.p-button-warning-1 {
  background-color: white;
  color: #ffcc15;
  border: #ffcc15;
  margin-top: 10px;
}

.p-button-warning-1:hover {
  background-color: white;
  color: black;
}

.buttons {
  text-align: right;
}
