* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;

  a {
    color: black;
    margin-right: 8px;
    text-decoration: none;
  }
}

a:hover {
  color: #ffcc15;
}
