.navbar {
  margin-bottom: 20px;
  padding-bottom: 32px;
  border-bottom: 1px solid #ddd;

  a {
    font-family: "Open Sans";
    float: right;
    color: black;
    margin-right: 8px;
    text-decoration: none;
  }
}
a:hover {
  color: #ffcc15;
}
