<ng-container>
  <div class="jokes-window">
    <button
      pButton
      type="button"
      label="Dodaj"
      (click)="showDialog()"
      class="p-button-warning"
    ></button>
    <div class="dialog-window">
      <p-dialog
        header="Dodawanie zartów"
        [(visible)]="displayDialog"
        [style]="{ width: '50vw', height: '40vw' }"
        [baseZIndex]="10000"
      >
        <div class="dialog-dropdown">
          <p-dropdown [style]="{ width: '100%' }"></p-dropdown>
        </div>
        <div class="dialog-input">
          <textarea
            placeholder="Wprowadź treść zartu"
            [rows]="5"
            [cols]="30"
            class="p-inputtext-lg"
            pInputTextarea
            type="text"
            [autoResize]="autoResize"
            [style]="{ width: '100%', height: '100px' }"
          ></textarea>
        </div>
        <div class="buttons">
          <button
            pButton
            type="button"
            label="Anuluj"
            (click)="closeDialog()"
            class="p-button-warning-1"
          ></button>
          <button
            pButton
            type="button"
            label="Dodaj"
            class="p-button-warning"
          ></button>
        </div>
      </p-dialog>
    </div>
    <div class="joke-card">
      <p-card
        header="Karta zartu"
        [style]="{ width: '25rem', 'margin-bottom': '2em' }"
      >
        <p>
          {{ jokeService.joke.setup }}
        </p>
        <p>
          {{ jokeService.joke.punchline }}
        </p>
      </p-card>
    </div>
    <button
      pButton
      type="button"
      (click)="refreshJoke()"
      label="Pokaz następny"
      class="p-button-warning"
    ></button>
  </div>
</ng-container>
