<button
  routerLink="/dashboard"
  pButton
  type="button"
  label="Wstecz"
  class="p-button-warning"
></button>

<button
  pButton
  type="button"
  label="Dodaj"
  (click)="showDialog()"
  class="p-button-warning"
></button>
<p-dialog
  class="dialog-body"
  header="Dialog Window"
  [(visible)]="displayDialog"
  [style]="{ width: '50vw', height: '50vw' }"
  [baseZIndex]="10000"
>
  <div class="dialog-content">
    <p-dropdown class="dialog-dropdown"></p-dropdown>
    <input type="text" pInputText class="p-inputtext-m" />
  </div>
</p-dialog>
