.p-button-warning {
  color: black;
  background-color: #ffcc15;
  border: #ffcc15;
  margin-top: 10px;
}

.p-button-warning-1 {
  background-color: white;
  color: #ffcc15;
  border: #ffcc15;
  margin-top: 10px;
}

.p-button-warning-1:hover {
  background-color: white;
  color: black;
}

.buttons {
  text-align: right;
}

.jokes-window {
  text-align: -webkit-center;
}
